/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/
:root{
    /* colours */
    --clr-primary: #000000;
    --clr-secondary: #013243;
    --clr-tertiary: #86BFD3;
    /* fonts */
    --font-primary: 'DM Sans', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --font-tertiary: 'Roboto', sans-serif;
    /* others */
    --transition: all 0.3s linear;
    --spacing: 0;
    --radius: 0.5rem;
    --line-height: 27px;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
h1,h2,h3,h4{
    text-transform: capitalize;
}
h1,h2,h3,h4,p{
    color: var(--clr-primary);
}
h1{
    font-size: 2.25rem;
}
h4{
    font-size: 1.25rem;
}
p{
    font-size: 1.25rem;
}
.btn {
    text-transform: capitalize;
    background: var(--clr-secondary);
    color: #fff;
    padding: 1.125rem 4.5rem;
    display: inline-block;
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 1.125rem;
    cursor: pointer;
    border-radius: var(--radius);
    font-family: var(--font-primary);
    border: transparent;
    outline: transparent;
}
.btn:hover{
    background-color: #4d707b;
}
.section{
    max-width: 443px;
    margin: 0 auto;
}
@media screen and (min-width:1170px) {
    .section{
        max-width: 862px;
    }
}
.center{
    width: 75%;
    margin: 0 auto;
}
body{
    background-image: url(../Assets/Background.png);
    background-size: cover;
}

/*
=============== 
Hero
===============
*/
.hero{
    background: var(--clr-secondary);
    padding-top: 45px;
}
.hero-title, .hero-text{
    text-align: center;
}
.hero-title{
    color: #fff;
    margin-bottom: 0.5rem;
}
.hero-text{
    color: var(--clr-tertiary);
    font-family: var(--clr-tertiary);   
}


/*
=============== 
Create account info
===============
*/
.account-info{
    padding-bottom: 2.875rem;
    background-color: #fff;;
}
.account-info-center{
    padding-top: 45px;
}
.info-title{
    font-family: var(--font-tertiary);
    margin-bottom: 1.5rem;
    color: var(--clr-primary)
}
.create-account-form{
    display: grid;
    gap: 1.5rem;
}
.form-row{
    display: grid;
    gap: 0.5rem;
}
.form-label{
    font-family: var(--font-primary);
    font-size: 1.25rem;
    color: var(--clr-primary);
    font-weight: bold;
}
.form-input{
    width: 100%;
    padding: 1.25rem 1rem;
    border-radius: var(--radius);
    border: 1px solid #BCBCBC;
    color: #8D8D8D;
    font-family: var(--clr-primary);
    font-size: 1.25rem;
    outline: none;
}
.form-input::placeholder{
    color:#8D8D8D;
}
.form-terms{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 10px;
}
.terms-text{
    font-family: var(--font-secondary);
    color: var(--clr-primary);
    line-height: var(--line-height);
}
.terms{
    font-family: 700;
    color: var(--clr-secondary);
    text-decoration: underline;
    text-underline-offset: 4px;
}

@media screen and (min-width: 1170px){
    .create-account-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* align-content: center; */
    }
    body{
        width: 100vw;
        height: 100vh;
        display: grid;
        place-items: center;
    }
}